<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save Changes') %>

<%= render '/shared/navbar' %>

<%= render '/shared/alerts' %>

<div class="page_title">
  <h1>Update your Profile</h1>
</div>

<%= render 'form' %>