<div class="slidemenu-slide">

  <!-- collapsed by default -->
  <nav id="main_navigation" class="navigation-displayed">
    <div class="menu_links">
      <%= link_to 'my list', wines_path, class: 'menu_links' %>
      <%= link_to 'add a wine', new_wine_path, class: 'menu_links' %>
    </div>
  </nav>

  <!-- full width by default -->
  <div class="content">
    <%= image_tag('logo.png', id: "title") %>
  </div>

</div>
