// Color variables

$page_background: #BDAEC6;
$title: #00A287;
$text_color: #421C52;
$link_hover: #D89FC2;
$link_hover_background: #9C8AA5;



/* LOGO */
#title {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

#title:hover {
  cursor: pointer;
}
/* END LOGO */

/* MAIN CONTENT (BACKGROUND IMAGE) */
.content {
  background: url("wine_barrels_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
/* END MAIN CONTENT */

/* NAVIGATION MENU */

.navigation {

  /* Collapsed */
  width: 0;

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

/* END NAVIGATION MENU */

.slidemenu { /*this is the nav*/
  background: $page_background;
  font-family: Lobster, cursive;
  font-size: 3em;
  text-align: center;
  padding-top: 200px;
  width: 300px;
  height: 100%;
  top: 0;
  position:fixed;
  z-index: 1;
}

.slidemenu a {
  color: $text_color;
  display: block; /* drops the nav vertically*/
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  padding: 14px;
}

.slidemenu a:hover {
  color: $text_color;
  background: $link_hover_background;
  text-decoration: none;
}

.slidemenu-left {
  left: -300px;
}

.slidemenu-left.slidemenu-open {
  left: 0;
}

.slidemenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.slidemenu-push-toright {
  left: 300px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* END FRONT PAGE */