// Color variables

$nav_text: white;
$link_hover_background: rgba(255,204,153,0.75);



/* LOGO */

#title {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

#title:hover {
  cursor: pointer;
}
/* END LOGO */

/* MAIN CONTENT (BACKGROUND IMAGE) */

.content {
  background: url("wine_barrels_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
/* END MAIN CONTENT */

/* NAVIGATION MENU */

.glyphicon {
  font-size: 25px;
  padding-right: 15px;
}

.navigation {
  background: rgba(0, 0, 0, 0.75);
  color: $nav_text;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  width: 300px;
  height: 100%;
  top: 0;
  position:fixed;
  z-index: 1;
}

.navigation h2 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

.navigation a {
  width: 300px;
  color: $nav_text;
  display: block; /* drops the nav vertically*/
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  padding: 0 30px;
}

.navigation a:hover {
  color: $link_hover_background;
  //background: $link_hover_background;
  text-decoration: none;
}

.navigation .menu_links hr {
  width: 50%;
}

.navigation-hidden {
  /* Collapsed */
  left: -300px;
}

.navigation-hidden.navigation-displayed {
  left: 0;
}

.navigation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* END NAVIGATION MENU */