// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* mixins, variables, etc. */
$one: #3A364F;
$two: #FFC17C;
$three: #250B28;
$four: #FEFEF6;