@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
/* #3A364F, #FFC17C, #250B28, #FEFEF6 */


$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  background-image: url('background.png');
  background-size: 100%;
  height: 100%;
}

.main_content {
  color: #FEFEF6;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

.main_content h1 {
  font-size: 10em;
}

/* INDEX PAGE LOWER BUTTON TILES */

.glyphicon {
  font-size: 100px;
  color: #FEFEF6;
}

.main_content a {
  color: #FEFEF6;
  text-decoration: none;
}

#my_list_tile, #add_wine_tile {
  height: 200px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 15px;
  position: relative;
  /* border: 5px solid #FEFEF6;
  border-radius: 10px; */
  overflow: hidden;
  font-size: 24px;
}

#my_list_tile:hover, #add_wine_tile:hover {
  border: 5px solid #FEFEF6;
  border-radius: 10px;
}