// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_title {
  text-align: center;
}

/* SHOW WINE PAGE */

.bottom_buffer {
  margin-bottom: 20px;
}

.showing_label {
  font-style: italic;
}

#wine_notes {
  height: 84px;
  overflow: hidden;
}

#edit_link {
  text-decoration: none;
  color: inherit;
}

/* END SHOW WINE PAGE */